# --- SO / temporales ---
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
$RECYCLE.BIN/
*.swp
*.tmp
*.temp
*.log
*.bak
*.old

# --- Git ---
.git-credentials
.gitconfig.local

# --- Editores / IDEs ---
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.code-workspace
.ReSharper*/
*_ReSharper.Caches/
*.sln.docstates

# --- Node / JS / TS / Frontend ---
node_modules/
dist/
build/
.tmp/
.temp/
.cache/
.eslintcache
stylelintcache
coverage/
.vite/
vite-cache/
parcel-cache/
.turbo/
.npm/
.pnp.*
.pnpm-store/
.yarn/
.yarnrc.yml
.next/
out/
.nuxt/
storybook-static/
*.map
.sass-cache/
bower_components/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
dist/
build/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.coverage
coverage.xml
htmlcov/

# --- .NET / Visual Studio / MAUI ---
bin/
obj/
[Bb]uild/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
TestResults/
*.psess
*.vsp
*.vspx
*.pdb
*.opendb
*.mdb
*.ldf
*.dbmdl
*.jfm

# Artefactos móviles (MAUI/Android/iOS)
*.apk
*.aab
*.ipa
*.app/
.gradle/
local.properties
captures/
*.keystore
*.jks
DerivedData/
Pods/
*.xcuserdatad/
*.xcsettings
*.xcworkspace/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

# --- Docker ---
.docker/
docker-compose.override.yml

# --- Env / secretos (mantén un .env.example) ---
.env
.env.*
!.env.example

# --- Bases de datos y dumps (ajusta a tu caso) ---
*.sqlite
*.sqlite3
*.db
*.bak
*.sql
*.dump

# --- Otros artefactos ---
reports/
artifacts/
screenshots/
